<aside class="sidebar" [class.collapsed]="isCollapsed">

  <div class="top">
    
    <h2 *ngIf="!isCollapsed">Dashboard Vendedor</h2>
    <button (click)="toggleSidebar()">☰</button>
  </div>

  <nav>

    <a>
      <span class="icon">📊</span>
      <span class="text" *ngIf="!isCollapsed">Dashboard</span>
    </a>

    <a>
      <span class="icon">📦</span>
      <span class="text" *ngIf="!isCollapsed">Detalle</span>
    </a>

    <a>
      <span class="icon">↩</span>
      <span class="text" *ngIf="!isCollapsed">Devoluciones</span>
    </a>

    <a>
      <span class="icon">📅</span>
      <span class="text" *ngIf="!isCollapsed">Historicos</span>
    </a>

    <a>
      <span class="icon">📈 </span>
      <span class="text" *ngIf="!isCollapsed">Impactos</span>
    </a>

    <a>
      <span class="icon">⚠</span>
      <span class="text" *ngIf="!isCollapsed">Nivel Servicio</span>
    </a>

  </nav>

</aside>