<section class="kpis">
  <app-card [title]="labelVentaAcum" [value]="ventaMesVista ?? totales?.ventaAcum ?? 0"></app-card>
  <app-card
    [title]="labelCuota"
    [value]="
      tipoCuota === 'diaria'
        ? (totales?.cuotaDia ?? totales?.cuotaDiaria ?? totales?.cuotaMes ?? 0)
        : tipoCuota === 'semanal'
          ? (totales?.cuotaSemana ?? totales?.cuotaMes ?? 0)
          : (totales?.cuotaMes ?? 0)
    "
  ></app-card>
  <app-card title="Cumplimiento" [value]="totales?.porcCump ?? 0"></app-card>
  <app-card title="Proyección" [value]="totales?.proyeccionVenta ?? 0"></app-card>
</section>

@if (vista === 'asignados') {
  <section class="charts">
    <div class="chart-box dynamic-panel">
      <h3>Vendedores Asignados</h3>

      <app-vendedores-table
        [esAdmin]="false"
        [labelCuota]="labelCuota"
        [labelVentaAcum]="labelVentaAcum"
        [campoCuota]="campoCuota"
        [cargandoVendedores]="cargandoVendedores"
        [todosLosVendedores]="todosLosVendedores"
      ></app-vendedores-table>
    </div>
  </section>
}

@if (vista === 'analisis') {
  <section class="charts">
    <app-ventas
      [codigoVendedor]="codigoVendedorAnalisis"
      [codigosVendedores]="codigosVendedoresAsignados"
      [filtros]="filtrosParaAnalisis"
      [tipoCuota]="tipoCuota"
      [modoAdmin]="true"
      (resumenCambio)="onResumenCambio($event)"
    ></app-ventas>
  </section>
}
