<table>
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ getHeader(col) }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let odd = odd" [class.odd]="odd">
      <td
        *ngFor="let col of columns"
        [class]="getCellClass(col, row[col])"
        [attr.data-col]="col">
        {{ formatCell(col, row[col]) }}
      </td>
    </tr>
    <tr *ngIf="data.length === 0">
      <td [attr.colspan]="columns.length" class="empty">Sin datos</td>
    </tr>
  </tbody>
</table>